@import "src/assets/mixin";
h1 {
  @include my-h1;
}

#users-grid {

  mat-grid-tile {
    background: lightblue;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      @include custom-blue-hover(0.9)
    }
  }

}

hr {
  margin: 0;
}

