<h1>Users-list</h1>

<hr>

<div class="search">
  <input class="search-input" type="text" [(ngModel)]="search" placeholder="Search for users by name">
</div>

<mat-grid-list id="users-grid" cols="2" rowHeight="2:1">
  <mat-grid-tile *ngFor="let user of users | filter:'name':search" [routerLink]="['/user-profile', user.id]">
    <div class="user-card">
      <img class="avatar" [src]="getAvatar(user.id)" alt="Avatar">
      <h2 class="name">{{ user.name }}</h2>
      <p class="email">{{ user.email}}</p>
      <p class="job">works in {{ user.company.name }}</p>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<app-progress-spinner *ngIf="isLoading"></app-progress-spinner>
