.comment {

  h3 {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 500;
  }

  p {
    margin-top: 1rem;
    background-color: #e6f8ff;
    border-radius: 10px;
    padding: 1rem;
  }

  small {
    opacity: 0.7;
  }
}
