@import "src/assets/mixin";
.post {
  margin: 20px 0;
  border: 1px solid #00000024;
  transition: 0.3s;

  p {
    margin-top: 1rem;
    font-size: 1.2rem;
  }

  &:hover {
    @include custom-blue-hover(1.05)
  }
}
