@import "src/assets/mixin";

#search {
  width: 90%;
  font-size: 1.2rem;
  border-radius: 5px;
  padding: 0.3rem;
  font-family: Roboto, sans-serif;
  margin: 20px 0;
}

.search {
  text-align: center;
}

h1 {
  @include my-h1;
}

hr {
  margin: 0;
}

.btns {
  display: flex;
  margin-right: 10px;

  button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
