mat-grid-list {
  margin-top: 6rem;

  mat-grid-tile {
    background: #add8e661;

    .user-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        margin: 0;
        color: #6c757d;
      }

      h2 {
        margin: 0;
      }

      .avatar {
        width: 100px;
        margin-bottom: 15px;
      }

      img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }
      .hoverable{
        position: relative;
        display: block;
        cursor: pointer;
        height: 150px;
        width: 150px;
        border: 5px solid #000;
        border-radius: 50%;
      }
      .hoverable .hover-text{
        position: absolute;
        display: none;
        top: 50%;
        left:  50%;
        transform: translate(-50%,-50%);
        z-index: 2;
      }
      .hoverable .background{
        position: absolute;
        display: none;
        top: 0;
        left:  0;
        bottom: 0;
        right: 0;
        background-color:rgba(255, 255, 255, 0.5);
        pointer-events: none;
        border-radius: 50%;
        z-index: 1;
      }
      .hoverable:hover .hover-text{
        display: block;
      }
      .hoverable:hover .background{
        display: block;
      }

      #fileInput{
        display: none;
      }
    }

    ul {
      width: 100%;
      list-style-type: none;
      padding: 0;

      li {
        font-size: 1.2rem;
        margin: 1rem 0.5rem;
        display: flex;

        .info-title {
          font-weight: 600;
          width: 150px;
        }

        .info-text {

        }
      }

      hr {
        margin: 0;
        padding: 0;
      }
    }
  }
}

.additional-info {
  text-align: center;
  background: aliceblue;
  color: rgba(0, 0, 0, 0.52);
}

.back-btn {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-top: 10px;
}
