<div class="nav">
  <div class="logo">
    <a routerLink="/posts">Application</a>
  </div>

  <ul class="nav-menu">
    <li>
      <a>
        <img src="../assets/menu.png" alt="Menu" class="menu-ico"
             mat-button [matMenuTriggerFor]="menu">
      </a>
      <mat-menu #menu="matMenu" class="menu">
        <a routerLink="/posts" mat-menu-item>Posts</a>
        <a routerLink="/users" mat-menu-item>Users</a>
      </mat-menu>
    </li>
  </ul>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
