<form #postForm="ngForm">
  <h1 mat-dialog-title>{{ data.title }}</h1>
  <div mat-dialog-content class="dialog-content">
    <h2>Title</h2>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Post title</mat-label>
      <input matInput placeholder="Some title"
             [ngModel]="post.title"
             maxlength="80"
             type="text"
             name="title" required
             class="post-title"
             #postTitle="ngModel">
    </mat-form-field>
    <small *ngIf="postTitle.dirty && postTitle.invalid">
      the field cannot be empty
    </small>

    <h2>Content</h2>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Post text</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."
                [ngModel]="post.body"
                name="post-content" required
                class="post-text"
                maxlength="400"
                #postBody="ngModel">
      </textarea>
    </mat-form-field>
    <small *ngIf="postBody.dirty && postBody.invalid">
      the field cannot be empty
    </small>
  </div>
  <div mat-dialog-actions>
    <button [disabled]="postForm.invalid"
            mat-raised-button (click)="data.func(postTitle.value, postBody.value, post.id)"
            color="primary" mat-dialog-close>SAVE</button>
    <button mat-raised-button color="" mat-dialog-close>CLOSE</button>
  </div>
</form>
