* {
  font-family: "Roboto", sans-serif;
}

.post {
  p {
    word-break: break-all;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

hr {
  opacity: .5;
  margin: 20px 0;
}

.search {
  text-align: center;

  .search-input {
    width: 90%;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 0.3rem;
    font-family: Roboto, sans-serif;
    margin: 20px 0;
  }
}

.add-btn {
  display: flex;
  margin-right: 10px;

  .add-btn-item {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
