* {
  font-family: "Roboto", sans-serif;
}

.post {
  p {
    word-break: break-all;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.progress-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}
